#yt{
    color:red;
    text-decoration: none;
}

#fb{
    color:white;
   
}
body{
    background-color: black;
    text-align: center;
}
video{
   
    /* transform: rotate(270deg); */
    

} 